input, select {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

h1 {
    text-align: center;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 150px;

}
.btn-cadastrar{
    margin-top: 20px;
}

.field {
    width: 200px;
    border: 1px solid;
} 

